 * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
        }

        body {
            background-color: #ffffff;
        }

        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 60px;
            background-color: aliceblue;
        }

        .logo {
            font-size: 22px;
            font-weight: bold;
            color: #333;
        }

         .nav-links {
            display: flex;
            gap: 20px;
            list-style:none;
        }
        .item{
            margin: 0 15px;
            text-decoration: none;
            color: #555;
            font-size: 14px;
            transition: 0.2s ease-in;
        }
        .item:hover{
            background-color: darkgrey;
            color: black;
            transform: translateY(-5px);
        }

        .user-btn {
            padding: 8px 16px;
            background-color: #eaf4ff;
            border-radius: 8px;
            font-size: 14px;
            color: #1e90ff;
        }


        .hero {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 60px;
        }

        .left {
            max-width: 500px;
        }

        .left h1 {
            font-size: 36px;
            color: #333;
            line-height: 1.3;
        }

        .left h1 span {
            color: #1e90ff;
        }

        .left p {
            margin: 20px 0;
            color: #666;
            font-size: 15px;
            line-height: 1.6;
        }

        .left button {
            padding: 14px 26px;
            background-color: #1e90ff;
            border: none;
            border-radius: 10px;
            color: #fff;
            font-size: 14px;
            cursor: pointer;
        }

        .right img {
            width: 350px;
        }